<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Component-Config>
		<Component name="componentPackages" config="componentPackages.xml"
			desc="Packaging new components" />

		<!-- SOA Framework Configuration -->
		<Component name="soaServiceConfigurations" config="soaServiceConfigurations.xml"
			desc="SOA Service Configurations" />
		<Component name="soaLoggerConfigurations" config="soaLoggerConfigurations.xml"
			desc="SOA Loggers" />
		<Component name="soaServiceAuditRecordConfigurations"
			config="soaServiceAuditRecordConfigurations.xml" desc="SOA Audit record configurations" />
		<Component name="soaInlineServiceConfigurations" config="soaInlineServiceConfigurations.xml"
			desc="Inline Service" />
		<Component name="soaHeartbeatFileConfigurations" config="soaHeartbeatFileConfigurations.xml"
			desc="Proxy Generator Configurations file" />
		<Component name="soaProxyConfigurations" config="soaProxyConfigurations.xml"
			desc="Proxy Generator Configurations file" />
		<Component name="soaGeneralConfigurations" config="soaGeneralConfigurations.xml" desc="SOA General Configurations"/>
 		


		<!-- FIL Configuration -->
		<Component name="filDebugLoggers" config="filDebugLoggers.xml"
			desc="FIL Debug Loggers" />
		<Component name="filMessageLoggers" config="filMessageLoggers.xml"
			desc="FIL Message Loggers" />
		<Component name="filConfigurations" config="filConfigurations.xml"
			desc="FIL Configuration Files" />
		<Component name="filEmailNotifiers" config="filEmailNotifiers.xml"
			desc="FIL Email Notifiers" />
		<Component name="filExceptionLoggers" config="filExceptionLoggers.xml"
			desc="FIL Exception Loggers" />

		<!-- ART Configuration -->
		<Component name="artConfig" config="artConfig.xml" desc="ART Configuration File" />

		<!-- Persistence Framework Configuration Components -->
		<Component name="persistenceConfig" config="persistenceConfig.xml"
			desc="Persistence Config" />

		<!-- Transaction Framework Configuration Components -->
		<Component name="jpaTxnConfig" config="jpaTxnConfig.xml"
			desc="Persistence Config" />
			
		<Component name="ssoConfig" config="ssoConfig.xml" desc="SSO configuration file"/>
  		<Component name="authAgentConfig" config="authAgentConfig.xml" desc="Authorization Agent Configuration"/>
  		<Component name="arpAppConfig" config="arpAppConfig.xml" desc="InvoicePodium Application Configuration File"/>
  		
		<!-- Query Cache Configuration -->
	    <Component name="queryCacheConfig" config="queryCacheConfig.xml" desc="Query Cache Configuration File"/>
	    
	    <!-- TIR -->
	    <Component name="TIRLoggers" config="TIRLoggers.xml" desc="TIR Loggers" />
	    
	    <!-- LTS -->
	    <Component name="LTSScheduleTaskLoggers" config="LTSScheduleTaskLoggers.xml" desc="Log message for scheduling new task"/>
   	    <Component name="LTSConfiguration" config="LTSConfiguration.xml" desc="LTSConfiguration File"/>
	    <Component name="LTSConfigurationLoggers" config="LTSConfigurationLoggers.xml" desc="Log message for reading configuration file"/>
	    <Component name="LTSAgentSideLoggers" config="LTSAgentSideLoggers.xml" desc="LTS Agent side logger File" />
	    <Component name="notifierDefaultControllableConfig" config="notifierDefaultControllableConfig.xml" desc="FIL Exception email notifier controller" />
	    <Component name="filExceptionEmailNotifier" config="filExceptionEmailNotifier.xml" desc="FIL Exception EmailNotifier" />
	    
	    <!-- mf/mif -->
	    <Component name="transactionConfig" config="transactionConfig.xml" desc="Transaction Config"/>
	    <Component name="mfLoggers" config="mfLoggers.xml" desc="MF Loggers"/>
	    <Component name="mifLoggers" config="mifLoggers.xml" desc="MF Loggers"/>
	    
	    <!-- CPFW -->
	    <Component name="cpfwConfig" config="cpfwConfig.xml" desc="Client Push framework utils config"/>
	    <Component name="cpfwLoggers" config="cpfwLoggers.xml" desc="Client Push framework utils logger"/>
	    
	    <!--BPF -->
	    <Component name="bpfNotificationLoggers" config="bpfNotificationLoggers.xml" desc="BPF Notification Loggers"/>
	    <Component name="bpfWorkerLoggers" config="bpfWorkerLoggers.xml" desc="BPF Worker Loggers"/>
	     <Component name="bpfLoggers" config="bpfLoggers.xml" desc="BPF Loggers"/>
	     <Component name="PICConfig" config="PICConfig.xml" desc="PIC configuration"/>
	     
	     <!-- FODE -->
	      <Component name="FODEClientConfig" config="FODEClientConfig.xml" desc="FODE Client Config"/>
	      <Component name="fodeLoggers" config="bpfLoggers.xml" desc="Fode Loggers"/>
	      
	</Component-Config>

	<Global-Var>
		<var name="GLOBAL_DEBUG_LOG_ENABLED" value="true" />
		<var name="IS_DATABASE_BACKUP" value="false" />
		<var name="JNDI_DNS" value="jdbc/ConfigEnhancementDS" />
		<var name="DISABLE_LOGS" value="false" />
		<var name="AUTO_START_MESSAGE_RECEIVERS" value="false"/> 
		<var name="AUTO_START_RECOVERY_RECEIVERS" value="false"/> 
		<var name="PRESERVE_BACKWARD_COMPATIBILITY" value="false"/>
		<var name="MF_PROPERTIES_PRESERVE_BACKWARD_COMPATIBILTY" value="true"/>
		
	</Global-Var>
</Config>

