<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'
	debug="false">
	
	<!-- ================================================================== -->
	<!-- 					CPFWUtils Loggers                                        -->
	<!-- ================================================================== -->
	<appender name="cpfwDebugLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
	        <param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/cpfw/cpfwDebug.log"/>
	        <layout class="org.apache.log4j.PatternLayout">
		   <param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
	        </layout>
	</appender>
	<appender name="cpfwMessageLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
	        <param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/cpfw/cpfwMessage.log"/>
	        <layout class="org.apache.log4j.PatternLayout">
		   <param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
	        </layout>
	</appender>
	
	<!-- ================================================================== -->
	<!-- 					CPFWUtils Loggers       			      -->
	<!-- ================================================================== -->
	<logger name="cpfwDebugLogger" additivity="false">
	        <level value="debug"/>
	        <appender-ref ref="cpfwDebugLoggerAppender"/>
	</logger>
	<logger name="cpfwMessageLogger" additivity="false">
	        <level value="debug"/>
	        <appender-ref ref="cpfwMessageLoggerAppender"/>
	</logger>
	
	
	<appender name="FILDEFAULTMSGLOGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/defaultMsg.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="defaultLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="FILDEFAULTMSGLOGAPPENDER" />
	</logger>
	
	<appender name="FILDEFAULTDEBUGLOGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/defaultDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="defaultDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILDEFAULTDEBUGLOGAPPENDER"/>
	</logger>

	<appender name="ARTMSGLOGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/art/ARTLogger.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="artMessageLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ARTMSGLOGAPPENDER"/>
	</logger>

	<appender name="FILARTDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filArtDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filArtDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILARTDEBUGAPPENDER"/>
	</logger>

	<appender name="FILXPMDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filXpmDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filXpmDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILXPMDEBUGAPPENDER"/>
	</logger>

	<appender name="FILCONFIGDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filConfigDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filConfigDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILCONFIGDEBUGAPPENDER"/>
	</logger>

	<appender name="FILAUTHDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filAuthDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filAuthDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILAUTHDEBUGAPPENDER"/>
	</logger>

	<appender name="FILMAILDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filEmailNotifDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filEmailNotifDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILMAILDEBUGAPPENDER"/>
	</logger>


	<appender name="FILLOGGINGDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filLoggingDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filLoggingDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="FILLOGGINGDEBUGAPPENDER"/>
	</logger>

	<appender name="FILDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/fil/filDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="filDebugLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="FILDEBUGAPPENDER" />
	</logger>
	
	<appender name="DailyRollingThreadBasedAppender" class="com.oocl.frm.logging.threadbased.DailyRollingThreadBasedFileAppender">	
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/threadlog/DailyRollingThreadBasedLogger"/> 
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="DailyRollingThreadBasedLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="DailyRollingThreadBasedAppender"/>      
	</logger>

	<appender name="PFWDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/pfw/pfwDebug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="pfwDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="PFWDEBUGAPPENDER"/>
	</logger>

	<appender name="PFWMSGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/pfw/pfwMsg.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="pfwMsgLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="PFWMSGAPPENDER"/>
	</logger>
    
	<appender name="PFWDIAGNOSTICAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/pfw/pfwDiagnostic.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="&#34;%t&#34;,&#34;%X{startTime}&#34;,&#34;%X{endTime}&#34;,&#34;%X{className}.%X{operation}&#34;,&#34;%X{jpqlQueryName}&#34;,&#34;%X{jpql}&#34;,&#34;%X{sql}&#34;,&#34;%X{arg}&#34;,&#34;%X{resultSize}&#34;%n" />
		</layout>
	</appender>
	
	<logger name="pfwDiagnosticLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="PFWDIAGNOSTICAPPENDER" />
	</logger>

	<appender name="JPATXNDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/jpatxn/jpaTxnDebug.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="jpaTxnDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="JPATXNDEBUGAPPENDER"/>
	</logger>

	<appender name="JPATXNMSGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/jpatxn/jpaTxnMsg.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="jpaTxnMsgLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="JPATXNMSGAPPENDER"/>
	</logger>
	
	<appender name="SPRINGLOGGERAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/spring/spring.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="org.springframework" additivity="false">
		<level value="info"/>
		<appender-ref ref="SPRINGLOGGERAPPENDER"/>
	</logger>
	
	
	<appender name="ARPAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/arp_internal/arp.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="com.oocl.ir4.arp" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ARPAPPENDER"/>
	</logger>
	

	<!-- LTS -->
	<appender name="LTSAgentSideExecutionLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/lts/LTSAgentSideExecutionLogger.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="LTSAgentSideExecutionLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="LTSAgentSideExecutionLoggerAppender" />
	</logger>
	
	<appender name="LTSScheduleTaskLoggersAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/lts/LTSScheduleTaskLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="LTSScheduleTaskLoggers" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="LTSScheduleTaskLoggersAppender"/>
	</logger>
	
	<appender name="LTSConfigurationLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/lts/LTSConfigurationLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="LTSConfigurationLoggers" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="LTSConfigurationLoggerAppender"/>
	</logger>
	
	
	<appender name="QuartzLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/lts/QuartzLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="org.quartz" additivity="false">
   		<level value="debug" />
   		<appender-ref ref="QuartzLoggerAppender"/>
 	</logger>
	
	<!-- TIR -->
	<appender name="crawlerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/crawler.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="crawlerLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="crawlerAppender" />
	</logger>
	
	<appender name="searcherAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/searcher.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="searcherLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="searcherAppender" />
	</logger>
	
	<appender name="initializerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/initializer.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="initializerLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="initializerAppender" />
	</logger>
	
	<appender name="systemLauncherAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/systemLauncher.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="systemLauncherLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="systemLauncherAppender" />
	</logger>
	
	<appender name="utilsAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/utils.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="utilsLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="utilsAppender" />
	</logger>
	
	<appender name="lockAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/lock.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="lockLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="lockAppender" />
	</logger>
	
	<appender name="userBehaviorAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/userBehavior.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="userBehaviorLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="userBehaviorAppender" />
	</logger>
	
	<appender name="indexerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/indexer.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="indexerLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="indexerAppender" />
	</logger>
	
	<appender name="indexInitializerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/indexInitializer.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="indexInitializerLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="indexInitializerAppender" />
	</logger>
	
	<appender name="remoteLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/remote.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="remoteLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="remoteLoggerAppender" />
	</logger>
	
	<appender name="facadeLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/facade.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="facadeLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="facadeLoggerAppender" />
	</logger>
	
	<appender name="jpaIndexBuilderLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/tir/jpaIndexBuilderLogger.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="jpaIndexBuilderLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="jpaIndexBuilderLoggerAppender" />
	</logger>
	
	<!-- mf mif -->
	<appender name="mfSenderLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mf/mfSender.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mfSenderLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mfSenderLoggerAppender" />
	</logger>

	<appender name="mfReceiverLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mf/mfReceiver.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mfReceiverLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mfReceiverLoggerAppender" />
	</logger>

	<appender name="mfRecoveryLoggerAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mf/mfRecovery.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mfRecoveryLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mfRecoveryLoggerAppender" />
	</logger>
	
	<appender name="mifSenderAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mif/mifSender.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mifSenderLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mifSenderAppender" />
	</logger>
	
	<appender name="mifReceiverAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File"
			value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mif/mifReceiver.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mifReceiverLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mifReceiverAppender" />
	</logger>
	
	<appender name="mifConfigAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mif/mifConfig.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mifConfigLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mifConfigAppender" />
	</logger>
	
	<appender name="mifConnectionAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File"
			value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mif/mifConnection.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mifConnectionLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mifConnectionAppender" />
	</logger>
	
	<appender name="mifCommonAppender"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/mif/mifCommon.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<logger name="mifCommonLogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="mifCommonAppender" />
	</logger>
	
	<!-- ================================================================== -->
	<!-- 					BPF Common                                  -->
	<!-- ================================================================== -->
	<appender name="bpfNotificationDebugLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfNotificatonDebug.log"/>
		<param name="Append" value="false" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="bpfNotificationDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="bpfNotificationDebugLoggerAppender"/>
	</logger>

	<appender name="bpfNotificationLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfNotificatonDebug.log"/>
		<param name="Append" value="false" />
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="bpfNotificationLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="bpfNotificationLoggerAppender"/>
	</logger>
	
		
    	<!-- ================================================================== -->
	<!-- 					BPF Worker                      -->
	<!-- ================================================================== -->	
	
	<appender name="bpfWorkerDebugLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
        	<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfWorkerDebugLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	 <logger name="bpfWorkerDebugLogger" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="bpfWorkerDebugLoggerAppender"/>
	</logger>
	
	 <appender name="bpfWorkerLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
       		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfWorkerMessageLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>	
    
    	<logger name="bpfWorkerLogger" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="bpfWorkerLoggerAppender"/>
	</logger>
	
	<appender name="bpfDummyRequestLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
       		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfEndToEndMonitoring.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>

    	<logger name="bpfDummyRequestLogger" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="bpfDummyRequestLoggerAppender"/>
	</logger>	
	
	<appender name="WorkerStatsLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
        	<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/WorkerStatsLogger.log"/>
        	<param name="Append" value="true" />
        	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
            	<layout class="org.apache.log4j.PatternLayout">
               		<param name="ConversionPattern"
                	value="[%t] %X{ID},%X{Type},%X{OnMsgStartTime},
                		%X{retrieveBPFMetaDataStartTime},%X{retrieveBPFMetaDataEndTime},
               			%X{UpdateToProcessingStartTime},%X{UpdateToProcessingEndTime},
               			%X{RetrieveAppDataStartTime},%X{RetrieveAppDataEndTime},
               			%X{StartAppLogicTime},%X{EndAppLogicTime},
               			%X{StartEnqueueTime},%X{EndEnqueueTime},
               			%X{updateCompletedStartTime},%X{updateCompletedEndTime},
               			%X{OnMsgEndTime}%n"/>
             	</layout>
       	</appender>	
	
	<logger name="WorkerStatsLogger" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="WorkerStatsLoggerAppender"/>
	</logger>
	
	
	<!-- ================================================================== -->
	<!-- 					BPF Client                      -->
	<!-- ================================================================== -->
	<appender name="bpfClientDebugLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
        	<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfClientDebugLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
    	<logger name="bpfClientDebugLogger" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="bpfClientDebugLoggerAppender"/>
	</logger>
	
	<appender name="bpfClientLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
        	<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/bpf/bpfClientMessageLogger.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
    	<logger name="bpfClientLogger" additivity="false">
		<level value="debug"/>
        	<appender-ref ref="bpfClientLoggerAppender"/>
	</logger>
	
	
	<!-- commom to remove -->
	<appender name="root-log"
		class="org.apache.log4j.DailyRollingFileAppenderVMFix">
		<param name="File"
			value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/arp_internal/root.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n" />
		</layout>
	</appender>
	
	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<!-- ================================================================== -->
	<!-- 					SOA                      -->
	<!-- ================================================================== -->
	
	<appender name="SOALOGGERAPPENDER" class="org.apache.log4j.FileAppender">
        <param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/soa/soaLog.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
    <appender name="SOADEBUGLOGGERAPPENDER" class="org.apache.log4j.FileAppender">
        <param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/soa/soaDebugLog.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	<appender name="SOAPROXYAPPENDER" class="org.apache.log4j.FileAppender">
	<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/soa/soaProxyLog.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
			value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
    </appender>

	<logger name="soaLogger" additivity="false">
		<level value="debug"/>
        <appender-ref ref="SOALOGGERAPPENDER"/>
	</logger>
	
    <logger name="soaDebugLogger" additivity="false">
		<level value="debug"/>
        <appender-ref ref="SOADEBUGLOGGERAPPENDER"/>
	</logger>
	
	<logger name="soaProxyLogger" additivity="false">
		<level value="debug"/>
        <appender-ref ref="SOAPROXYAPPENDER"/>
    </logger>
    
    <!-- added for pic -->
    <appender name="PICDEBUGAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/pic/picDebug.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
    </appender>


    <logger name="PICDebugLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="PICDEBUGAPPENDER"/>	
	</logger>	


    <appender name="PICAUDITAPPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/pic/picAudit.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
    </appender>
    
    <logger name="PICAuditLogger" additivity="false">
		<level value="debug"/>
		<appender-ref ref="PICAUDITAPPENDER"/>
	</logger>

   <!-- trx -->
   	
   	<appender name="trxAuditLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/trx/trxAudit.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
   	
   	<logger name="trxAuditLogger" additivity="false">
		<level value="debug"/>
        <appender-ref ref="trxAuditLoggerAppender"/>
	</logger>
	
	<appender name="trxMsgLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/trx/trxMsg.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>
	
	<logger name="trxMsgLogger" additivity="false">
		<level value="debug"/>
        <appender-ref ref="trxMsgLoggerAppender"/>
	</logger>
	
	<appender name="trxDebugLoggerAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/ToShare/arp-iris4/ARP_APP_Server/arp_logs/trx/trxDebug.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x %d{DATE} - %m%n"/>
		</layout>
	</appender>	
	
	<logger name="trxDebugLogger" additivity="false">
		<level value="debug"/>
        <appender-ref ref="trxDebugLoggerAppender"/>
	</logger>    
	
	<root>
		<level value="error" />
		<appender-ref ref="CA" />
		<appender-ref ref="root-log" />
	</root>

</log4j:configuration>
